@page
@model CesarWeb.Pages.Cesar.CreateModel

@{
    ViewData["Title"] = "Erstellen";
}

<h1>Erstellen</h1>

<h4>CesarNum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CesarNum.Nummer" class="control-label"></label>
                <input asp-for="CesarNum.Nummer" class="form-control" />
                <span asp-validation-for=g"CesarNum.Nummer" class="text-danger"></span>
            </div> 

            <div class="form-group">
                <label asp-for="CesarNum.Conversion" class="control-label"></label>
                <input asp-for="CesarNum.Conversion" class="form-control" />
                <span asp-validation-for="CesarNum.Nummer" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Nummer konvertieren" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Zurück zur Liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
