header {
    color: rgb(7, 7, 7);
    text-align: center;

}
section h2 {
    text-align: center;
}



section table ,th,td{
    margin-left: auto;
    margin-right: auto; 
    border: 1px solid black;
    background-color: white;
}

body {
    background-color: rgb(203, 198, 207);
}

